body{
    max-width: 90%;
    margin: 0 auto;
    background:linear-gradient(to right, #e5e5dc, white);
    font-family: "Open Sans", sans-serif
}

header{
    max-width: 90%;
    margin: 0 auto;
}

header h1{
    background-color: #c4a35a;
    margin: 15px auto;
}

header p{
    text-align: center;
}

nav{
    display:flex;
    margin-right: auto;
    margin-left: auto;
}


blockquote {
    max-width : 50%;
    margin: 0 auto;
    padding: 40px 30px;
    font-size: 160% ;
    background-color: #e5e5dc;
    border-left: firebrick 3px solid;
}

p{
    font-size: 14px;
    line-height: 18px;
    color: #26495c;
}

a {
    color : #c66b3d;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    text-decoration: underline;
}

a:visited{
    font-weight: bold;
    text-decoration: underline;
    color:#c4a35a;
}

li {
    font-size: 14px;
}

nav ul {
    flex-direction: row;
    list-style-type: none;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

}

nav li {
    display: inline;
    list-style-type: none;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

}

nav ul li {
    font-size: 18px;
    text-transform: uppercase;
}


.villagers_talking {
    font-style: italic;
    border-left: #c66b3d 3px solid;

}

.farmer_talking {
    font-style: italic;
    border-left: #26495c 3px solid;

}

th {
    font-weight: normal;
}

.good {
    text-transform: uppercase;
    color:red;
}

.bad {
    text-transform: uppercase;
    color: green;
}

.ligne01, .ligne03{
    background-color: grey;
}

.ligne01:nth-child(1){
    background-image: url(/pictures/bien.png);
    background-repeat: no-repeat;
    background-position: right;
}

.ligne02:nth-child(2){
    background-image: url(/pictures/mal.png);
    background-repeat: no-repeat;
    background-position: right;
}

.ligne03:nth-child(3){
    background-image: url(/pictures/chat.png);
    background-repeat: no-repeat;
    background-position: right;
    justify-content: ;
}

.introduction {
    max-width: 90%;
    display : flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.explications {
    max-width: 90%;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.explication01{
    width: 380px;
    margin-top: 0;
    text-align: justify;
}

.histoire {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}